.board {
  height: 100%;
  display: grid;
  grid-template-columns: repeat(5, 64px);
  grid-template-rows: repeat(4, 64px);
  grid-auto-flow: row;

  &__tile {
    position: relative;
    display: grid;
    place-items: center;
    font-size: 1.2rem;

    .playerimg {
      position: absolute;
      z-index: 10;
    }

    .dangerimg {
      position: absolute;
      z-index: 5;
    }
  }
}
