@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'base';
@use 'components';

.hidden {
  display: none;
}

.debug::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff000080 !important;
  z-index: 999;
}

.information {
  &__score {
    display: flex;
  }
}
