@use 'utils/a11y'; // Om det inte funkar, byt @use mot @import
@use 'vendor/reset';

* {
  font-family: 'VT323', monospace;
}

body {
  background-color: black;
  color: #fff;
}

.hidden {
  display: none;
}

.debug::before {
  content: '';
  width: 100%;
  height: 100%;
  position: absolute;
  background-color: #ff000080 !important;
  z-index: 999;
}

.information {
  &__score {
    display: flex;
  }
}

.board {
  display: grid;
  grid-template-columns: repeat(5, 64px);
  grid-template-rows: repeat(4, 64px);
  grid-auto-flow: row;

  &__tile {
    position: relative;
    display: grid;
    place-items: center;
    font-size: 1.2rem;

    .playerimg {
      position: absolute;
      z-index: 10;
    }

    .dangerimg {
      position: absolute;
      z-index: 5;
    }
  }
}
